/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { 
  padding-top: 150px; 
  background: lightgrey;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px
}

h1 {
  font-family: 'Lobster', cursive;
  color: #708090;
}

footer { 
  margin-top: 100px; 
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  position: absolute; 
  bottom: 0;
  left: 0; 
  right: 0;
  font-family: 'Pacifico';
  font-size: 14px
}

table, td, th { 
 vertical-align: middle; border: none;
  padding: 7px;
}

th { 
  border-bottom: 1px solid #DDD; 
}

.navbar-custom {
  font-family: 'Lobster', cursive;
}

.menu-custom {
  font-family: 'Open Sans', sans-serif;
}